UPLOAD_POST_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6Imdyd2J0ZXN0QGdtYWlsLmNvbSIsImV4cCI6NDkzMDM2NTkyOSwianRpIjoiNTE3NGQwYTUtMWMwNi00MWQ5LTlmNjgtNTYyY2U0MjJmMmFmIn0.CHuB89IAL47AqzGsaoiUwTcx-GpY8oxR1RyZ-e9CyX8
UPLOAD_POST_PROFILE=xpoll-development
UPLOAD_POST_BASE_URL=https://api.upload-post.com/api
UPLOAD_POST_POLL_INTERVAL_MS=1000
UPLOAD_POST_POLL_TIMEOUT_MS=60000
